{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

<scetion>
    <div>
        <div>
            <div>Profil</div>
            <div></div>
        </div>
        <div>
            <div>Action</div>
            <div></div>
        </div>
        <div>
            <div></div>
            <div></div>
        </div>
    </div>
</section>

{% endblock %}
